$bodyBackground: #f2fbff;
$lightGrey: #808080;
$lightGreen: #b1e19b;
$lightBlue: #ace2f8;
$borderColor: #cecabf;
$btnColor: #fdd639;
$extraLargeFont: 20px;
$largeFont: 16px;
$mediumFont: 14px;
$smallFont: 12px;
$extraSmallFont: 11px;
